<!DOCTYPE html>
<html>
    <body>
        <h1>Hello, and welcome to training.</h1>
        <p>
            <a href="/tail-character-locations/">
                Tail Character Location
            </a>
        </p>
        <p>
            <a href="/segmentation-marker/?segmentation=candidate-segmentation">
                Candidate Segmentation
            </a>
        </p>
    </body>
</html>